{% extends 'base.html' %}
{% block content %}



<section>
	<div class="reg">
	<h1>About me</h1>
	<b>
		<p id="sub-text">Stay updated to stories, thinking and expertise from writers in any topic.</p>
	</b>

	<p>Blog is a completely localised and personalised news app. It lets you follow trending topics, watch and share
	funny videos, and save up to 80% of your data.
	
	Read the latest and most popular news articles on entertainment, economy, finance, business, technology, science,
	sports, travel, fashion, and politics - all delivered by top global and national media outlets. </p>

</section>


{% endblock content %}