@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');


*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
	text-decoration: none;
	list-style: none;
	scroll-behavior: smooth;
}

.navbar {
	position: absolute;
	top: 0;
	left: 0%;
	display: flex;
	width: 100%;
	justify-content: space-between;
	padding: 10px;
	color: whitesmoke;
}

.logo {
	font-size: 32px;
	color: rgb(185, 3, 49);
	margin-left: 96px;
}

.nav-link {
	display: flex;
	align-items: center;
	justify-items: space-around;
	margin-right: 96px;
}

.nav-link li {
	margin: 0 20px;
	color: rgb(94, 1, 24);

}

header {
	background-color: bisque;
	height: 6vh;
	width: 100vw;
	background-position: bottom;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
}

#intro {
	display: block;
	margin: 96px 0px 0px 96px;
}

#intro h1 {
	font-size: 56px;
	font-weight: 100;
}

.img {
	width: 64px;
	height: 64px;
}

#intro p {
	font-size: 16px;
	text-align: left;
}

#style {
	display: inline-flex;
}

.trend {
	font-size: 40px;
	display: flex;
	justify-content: left;
	margin-bottom: 16px;
	margin-left: 96px;
}

.content{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, auto));
	align-items: center;
	gap: 6rem;
	margin-top: 3rem;
	margin-left: 96px;
	margin-right: 96px;
	text-align: left;
}

.time li {
	display: inline-flex;
}

.time h5 {
	margin-top: 4px;
	color: rgb(69, 70, 71);

}

.sub h6 {
	font-size: 16px;
}

.more {
	display: flex;
	justify-content: center;
	margin-top: 48px;
}

.pub-btn {
	padding: 32px 16px;
	color: brown;
	margin-left: 80px;
}



/* .about-me img {
	border-radius: ;
} */

.about-me h1 {
	padding-top: 64px;
	margin-left: 96px;
}

.about-me p {
	padding-top: 20px;
	font-size: 3vmin;
	color: rgb(94, 1, 24);
	margin: 0px 96px 0px 96px;
}

/* div h1 {
	color: rgb(185, 3, 49);
	padding-left: 100px;
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: yellow;

} */

form {
	margin-top: 32px;
	padding-left: 96px;
}

.reg {
	margin-top: 64px;
	font-size: 24px;
	margin-left: 96px;
}

button {
	padding: 2px 30px;
	font-size: 3vmin;
	border-radius: 10px;
	outline: none;
	border: none;
	background-color: rgb(185, 3, 49);
	color: white;
	width: 150px;
	height: 40px;
	margin-bottom: 32px;
}

form input {
	width: 500px;
	height: 32px;
	display: flex;
	justify-content: center;
}

a:hover {
	color: rgb(255, 255, 255);
	text-decoration: none;
	font-weight: bold;
	background-color: rgb(185, 3, 49);
	padding: 8px 20px;
	border-radius: 10px;
}








/* mobile device */
@media only screen and (max-width:850px) {

	.navbar {
		padding: 0;
		padding-top: 90px;
	}

	.logo {
		position: absolute;
		top: 30px;
		left: 30px;
	}

	.nav-link {
		flex-direction: column;
		width: 100%;
		height: 20vh;
		justify-content: center;
		background-color: bisque;

	}

	.mobile-menu {
		margin-top: 0px;
	}

	.nav-link li {
		margin: 10px auto;
	}

	header {
			background-color: bisque;
				height: 25vh;
				width: 100vw;
				background-position: bottom;
				background-size: cover;
				display: flex;
				align-items: center;
				justify-content: center;
	}

	section {
		padding-top: 20px;
	}

}





