{% extends 'base.html' %}
{% block content %}
{% if current_user.is_authenticated %}

<h1>Welcome to your favourite blog!</h1>
{% else %}
<header>
	<div class="header-content">
	</div>
</header>



<section>
	<div class="about-me">
	<h1>About me</h1>
	<p id="sub-text">Stay updated to stories, thinking and expertise from writers in any topic</p>
	<img src="./Images/Ellipse 1.png" alt="">

	<p>Blog is a completely localised and personalised news app. It lets you follow trending topics, watch and share
	funny videos, and save up to 80% of your data.
	
	Read the latest and most popular news articles on entertainment, economy, finance, business, technology, science,
	sports, travel, fashion, and politics - all delivered by top global and national media outlets. </p>

</section>



{% endif %}
{% endblock content %}