{% extends 'base.html' %}
{% block content %}


<div>
 <div class="contact"></div>
 <h1>Contact Me</h1>
</div>

<form class="forms" action="{{url_for('auth.contact')}}" method="POST">
 <div>
  <label for="name">Name</label>
 </div>

 <div>
  <input type="name" required>
 </div>
 <br>
 <br>
 <div>
  <label for="message">Message</label>
 </div>
 <textarea name="message" id="message" cols="30" rows="5"></textarea>

 <br>
 <div>
  <label for="priority">Priority</label>
 </div>
 <br>
 <div>
  <select>
   <option value="urg">Urgent</option>
   <option value="imp">Important</option>
   <option value="cas">Casual</option>
  </select>
 </div>
 <br>
 <div>
  <button>Submit</button>
 </div>

</form>

{% endblock content %}