
{% extends 'base.html' %}
{% block title %}index{% endblock %}
{% block content %}

<div class="reg">
	<h3>Publish your article</h3>
</div>


<form class="forms" action="{{url_for('publish')}}"method="POST">
	<div>
		<label for="title">Title:</label>
	</div>

	<div>
		<input type="text" id="title" name="title" required>
	</div>
	<br>

<div>
	<h5 >TEXT:</h5>
	<textarea name="bodytext" id="result" class="forms"></textarea>
</div>


	<div>
		<button>Publish</button>
	</div>
	<br>

</form>

{% endblock content %}




